[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-cowsay = "*"
flake8 = "*"
pydocstyle = "*"
pybabel = "*"
babel = "*"

[dev-packages]
sphinx = "*"
doit = "*"
build = "*"
setuptools = "*"

[requires]
python_version = "3.10"
